.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.hero-text{
    margin-top: 10px;
    font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #06193a;
}
.home-link{
    margin-top: 32px;
    border-radius: 50px;
        padding: 12px 20px;
        width: 343px;
        height: 65px;
background: linear-gradient(180deg, #ff9500 0%, #c87227 100%);
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
transition: background 0.3s ease-in-out;
}
.home-link:hover{
    background: linear-gradient(180deg, #f78706 0%, #b65801 100%);
}
@media only screen and (min-width: 1440px) {
   .home-section{
    background-image: url("/img/home/desk.png");
   }
   .home-wrapper{
    margin-top: 40px;
   }
   .hero-text{
    font-size: 24px;
   }
   .home-link{
    width: 240px;
        height: 65px;
   }
}
/* Back */
.back{
    background-image: url("/img/back/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
@media only screen and (min-width: 1440px) {
    .back{
        background-image: url("/img/back/desk.png");
    }
}
/* About the Game */
.about-container{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
@media only screen and (min-width: 1440px) {
   .about-container{
    padding-top: 120px;
    gap: 64px;
   }
   .about-wrapper{
    width: 1088px;
    display: flex;
    align-items: center;
    gap: 32px;
   }
   .about-title-wrapper{
    display: flex;
    flex-direction: column;
    width: 528px;
   }
   .about-subtitle{
    margin-bottom: 0;
   }
   .about-text-wrapper{
    width: 528px;
   }
}
/* How to Play */
.how-list{
    display: flex;
flex-direction: column;
align-items: center;
gap: 32px;
}
.how-item{
    display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
}
@media only screen and (min-width: 1440px) {
 .how-list{
    flex-direction: row;
width: 1088px;
margin-left: auto;
margin-right: auto;
 }
 .how-item{
    width: 248px;
 }
 .how-container{
    padding-left: 176px;
    padding-right: 176px;
 }
}
/* Features */
.features-container{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
width: 343px;
    height: 576px;
        padding: 40px 16px; 
}

.features-wrapper{
        border-radius: 32px;
        padding: 40px 24px;
        width: 311px;
        height: 496px;
box-shadow: 8px 8px 16px 0 rgba(167, 167, 167, 0.16);
    background: #08b78c;
}
.features-title{
    color: #fff;
}
.features-subtitle{
color: #fff;
}
.features-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;
}
.features-item{
    display: flex;
    align-items: start;
    gap: 8px;
}
.features-item p{
    width: 225px;
}
@media only screen and (min-width: 1440px) {
  .features-container{
    background-image: url("/img/features/desk.png");
width: 1088px;
    height: 691px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 48px;
  }
  .features-wrapper{
    width: 480px;
        height: 563px;
        padding: 40px;
  }
  .features-item p {
      width: 362px;
  }
  .features-subtitle{
    margin-bottom: 32px;
  }
}
/* Why Play Tropical Resort Match */
.why-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
@media only screen and (min-width: 1440px) {
  .why-container{
    flex-direction: row;
    align-items: center;
    padding-left: 170px;
    padding-right: 170px;
    gap: 64px;
  }
  .why-wrapper{
    width: 520px;
  }
}
/* FAQ */
.faq-section {
background: #071c5d;
}

.faq-title {
    color: #fff;
}
.faq-subtitle{
    color: #fff;
}
.faq-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
border: 1px solid #ffc801;
    border-radius: 12px;
background: #fff;
padding: 20px 16px;
    width: 343px;
    height: auto;
font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: #06193a;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    width: 40px;
    height: 40px;
    border: none;

}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
    background: inherit;
    width: 343px;

    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}

.faq-acc-el.open .faq-acc-el-trigger {
    background: #ffc801;
}

.faq-acc-el.open .faq-acc-el-descr-frame {
color: #fff;
    visibility: visible;
    opacity: 1;
    border: none;
    padding: 8px 30px 0 16px;
    background: inherit;
    width: 343px;
    max-height: 500px;
    margin-bottom: 16px;

}



@media only screen and (min-width: 1440px) {
    .faq-container{
        flex-direction: row;
        gap: 64px;
    }
    .faq-wrapper{
        width: 640px;
    }
    .faq-acc {
        width: 640px;
        margin: 0 auto;
        gap: 16px;
    }

    .faq-acc-el-trigger {
        width: 640px;
        font-size: 20px;
    }
    .faq-acc-el-descr-frame {
        width: 640px;
    }
    .faq-acc-el.open .faq-acc-el-descr-frame {
        width: 640px;
    }
}
/* Contact */
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.contact-title{
    font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.3;
        text-align: center;
        color: #06193a;
        text-transform: capitalize;
        letter-spacing: normal;
}
.contact-link{
    border-radius: 16px;
        padding: 8px 16px;
        width: 343px;
        height: 61px;
box-shadow: 8px 8px 16px 0 rgba(167, 167, 167, 0.16);
    background: #ffc801;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #192a4d;
}
.mail-img{
    border-radius: 100%;
    width: 33px;
    height: 33px;
padding: 7px;
    background: #fff;
}
@media only screen and (min-width: 1440px) {
  .contact-container{
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
  .contact-title{
    font-size: 42px;
  }
  .contact-link{
    width: 304px;
font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: #192a4d;

  }
}