.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.hero-text{
    margin-top: 10px;
    font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #06193a;
}
.home-link{
    margin-top: 32px;
    border-radius: 50px;
        padding: 12px 20px;
        width: 343px;
        height: 65px;
background: linear-gradient(180deg, #ff9500 0%, #c87227 100%);
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
transition: background 0.3s ease-in-out;
}
.home-link:hover{
    background: linear-gradient(180deg, #f78706 0%, #b65801 100%);
}
@media only screen and (min-width: 1440px) {
   .home-section{
    background-image: url("/img/home/desk.png");
   }
   .home-wrapper{
    margin-top: 40px;
   }
   .hero-text{
    font-size: 24px;
   }
   .home-link{
    width: 240px;
        height: 65px;
   }
}
/* Back */
.back{
    background-image: url("/img/back/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
@media only screen and (min-width: 1440px) {
    .back{
        background-image: url("/img/back/desk.png");
    }
}
/* About the Game */
.about-container{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
@media only screen and (min-width: 1440px) {
   .about-container{
    padding-top: 120px;
    gap: 64px;
   }
   .about-wrapper{
    width: 1088px;
    display: flex;
    align-items: center;
    gap: 32px;
   }
   .about-title-wrapper{
    display: flex;
    flex-direction: column;
    width: 528px;
   }
   .about-subtitle{
    margin-bottom: 0;
   }
   .about-text-wrapper{
    width: 528px;
   }
}
/* How to Play */
.how-list{
    display: flex;
flex-direction: column;
align-items: center;
gap: 32px;
}
.how-item{
    display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
}
@media only screen and (min-width: 1440px) {
 .how-list{
    flex-direction: row;
width: 1088px;
margin-left: auto;
margin-right: auto;
 }
 .how-item{
    width: 248px;
 }
 .how-container{
    padding-left: 176px;
    padding-right: 176px;
 }
}
/* Features */
.features-container{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
width: 343px;
    height: 576px;
        padding: 40px 16px; 
}

.features-wrapper{
        border-radius: 32px;
        padding: 40px 24px;
        width: 311px;
        height: 496px;
box-shadow: 8px 8px 16px 0 rgba(167, 167, 167, 0.16);
    background: #08b78c;
}
.features-title{
    color: #fff;
}
.features-subtitle{
color: #fff;
}
.features-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;
}
.features-item{
    display: flex;
    align-items: start;
    gap: 8px;
}
.features-item p{
    width: 225px;
}
@media only screen and (min-width: 1440px) {
  .features-container{
    background-image: url("/img/features/desk.png");
width: 1088px;
    height: 691px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 48px;
  }
  .features-wrapper{
    width: 480px;
        height: 563px;
        padding: 40px;
  }
  .features-item p {
      width: 362px;
  }
  .features-subtitle{
    margin-bottom: 32px;
  }
}
